/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My css*/
html{
  font-family: 'Cabin', sans-serif;
}
.hidden {
	display: none;
}
hr{
	border: none;
  height: 1px;
	background-color: #555555;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.search-bar{
	margin-top: 30px;
	text-align: center;
}
.search-bar h2{
	font-size: 2.8em;
	font-weight: 600;
	letter-spacing: 0.02em;
}
.search-bar h4{
	font-size: 0.8em;
	font-weight: 400;
	margin-left: 260px;
	padding-bottom: 25px;
	padding-top: 10px;
}
.lp-search{
	margin-top:15px;
	margin-bottom: 45px;
}
.lp-search input:first-child{
	width: 300px;
	height: 40px;
	font-size: 25px;
	padding-left: 5px;
	font-family: 'Cabin', sans-serif !important;
	color: #424242;
	font-size: 400;
}

input[type=submit]{
	width: 100px;
	margin-left: 20px;
	padding: 14px 0px;
	background:#FFC567;
	color: #fff; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	vertical-align: top;
	font-size: 16px;
	letter-spacing: 0.04em;
}

  

.results{
	clear: both;
}
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {clear:both;}
.group {zoom:1; /* For IE 6/7 */}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:nth-child(3n) {margin-left: 0;}

.span_1_of_3 {
	width: 31%;
}
.search-title{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 2.1em;
	font-weight: 700;
}


/*media queries*/
@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_1_of_3 { width: 100%; }
}
